<ul class="pages">
  {% if page.title == 'home' or page.dir == '/profile' %}
  <li><a href="{{site.url}}/blog">畑だより</a></li>
  {% endif %}
  <li><a href="{{site.url}}/suzuben">珠洲ことば</a></li>
  <li><a href="{{site.url}}/hanbai">お買い求めはこちら</a></li>
  <li><a href="{{site.url}}/recipe">レシピ集</a></li>
  <li><a href="{{site.url}}/profile">{{site.name}}とは</a></li>
  <li class="indent-1"><a href="{{site.url}}/sizen-nou">自然農という生き方</a></li>
  <li class="indent-1"><a href="{{site.url}}/community">豊かな地域社会</a></li>
  <li class="indent-1"><a href="{{site.url}}/edible-forest-garden">食べる森の楽園</a></li>
  <li class="indent-1"><a href="{{site.url}}/make">作る楽しさ</a></li>
</ul>
{% if page.tag  %}
{% unless paginator %}
<div><a href="{{site.url}}/blog">畑だより</a></div>
<div class="related-posts-area">
<span>「<em><a href="{{site.url}}/tags/{{ page.tag }}">{{ page.tag }}</a></em>」最新のお便り</span>
<ul class="related-posts">
{% for post in site.tags[page.tag] limit:7 %}
<li><a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %}
</ul>
</div>
{% endunless %}
{% endif %}
<form class="search" action="{{site.url}}/search/" method="get">
  <input type="search" name="q" placeholder="検索"/>
</form>
{% unless page.tag  %}
<div id="todayimage" ></div>
{% endunless %}
