body {
    font-size : 75% ;
    padding:0;
}
header {
    padding-left:0px;
}
header > p {
   width:100%;
}
header > p.page > a {
    background-position: 215px 0;
}
div#contents {
    width: 100%;
    padding: 20px 2px 2px;
}
div#contents img {
    width:100%;
    margin-left: -20px;
}
div#contents aside {
    float: none;
    margin-top: 10px;
    position: relative;
    width: 100%;
}
div#contents aside div#todayimage img {
    margin-left:0;
    height:auto;
    width:50%;
}
div#contents article {
    float: left;
    width: 100%;
    margin: 40px 0 10px;
    border-bottom: 10px solid white;
}
div#contents article > p.meta {
    margin-top:0;
    float:none;
}
div#contents article p img {
    margin-left:1px;
}
div#contents article p a img {
    margin-left:1px;
}
div#contents article div#home img {
    margin-left:1px;
}
div.archive-single-post {
    border: 1px dotted;
    box-shadow: none;
    height: 275px;
    padding-left: 1px;
    padding-top: 1px;
}
div.archive-single-post div.img_wrapper {
    position: relative;
    z-index: 2;
}
div.archive-single-post div.img_wrapper img {
    width:600px;
    margin-top: 0;
}
div#contents article,
div.archive-single-post div.archive-single-post-link,
ul.tag-index,
div.pagination {
    position: relative;
    z-index: 2;
}
h1 {
    height:auto;
}
h1.page {
    font-size: 40px;
}
div#hanbai table.order-box {
    width: 100%;
}
div#hanbai table.order-box td {
    padding-left:0;
}
div#hanbai table.order-box td:first-child {
    width: 20%;
}
div#hanbai table td img {
    margin-left:auto;
    margin-right:auto;
}

div#pageview {
    top:0px;
}
div#pageview img {
    vertical-align:middle;
    margin-right:1px;
    margin-left:0;
    max-width: 20%;
    height: auto;
}
div.archive-single-post-link span.pageview {
    max-width:30px;
    margin-left:20px;
}
div.archive-single-post-link span.pageview img {
    vertical-align:-1px;
    max-width: 20px;
    height: 8px;
}
div.archive-single-post-link span.pageview span.pageview-text {
}
figure.related-post {
    height: 110px;
    width: 48%;
}
