---
layout: default
title: 畑だより
---
<h1>畑だより</h1>

{% if paginator.total_pages > 1 %}
<div class="pagination">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="{{site.url}}/{{ site.paginate_path | remove: 'page:num' }}">&laquo; 前へ</a>
    {% else %}
    <a href="{{site.url}}{{ paginator.previous_page_path }}">&laquo; 前へ</a>
    {% endif %}
  {% else %}
    <span>&laquo; 前へ</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{site.url}}/{{ site.paginate_path | remove: 'page:num' }}">{{ page }}</a>
    {% else %}
      <a href="{{site.url}}/{{ site.paginate_path | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">次へ &raquo;</a>
  {% else %}
    <span>次へ &raquo;</span>
  {% endif %}
</div>
{% endif %}

<!-- This loops through the paginated posts -->
<div class="archive-posts">
{% for post in paginator.posts %}
<div class="archive-single-post">
    <!-- <div class="img_wrapper"><a href="{{ post.url }}">{{ post.content | thumbnail: '', '600px' }}</a></div> -->
  <div class="img_wrapper">{{ post.content | debug}}</div>
  <div class="archive-single-post-link">
  <span><a href="{{ post.url }}">{{ post.title }}</a></span>
  <span class="entry-meta">{{ post.date | date: "%Y-%m-%d"}} </span>
  <span class="entry-meta cat-links"><a href="{{site.url}}/tags/{{ post.tag }}">{{ post.tag }}</a></span>
  <span class="pageview"><img src="http://kobapan.com/c/?l={{ post.url }}&u=0"><span class="pageview-text">views</span></span>
  </div>
</div>
{% endfor %}
</div>

{% if paginator.total_pages > 1 %}
<div class="pagination clear">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
    <a href="{{site.url}}/{{ site.paginate_path | remove: 'page:num' }}">&laquo; 前へ</a>
    {% else %}
    <a href="{{site.url}}{{ paginator.previous_page_path }}">&laquo; 前へ</a>
    {% endif %}
  {% else %}
    <span>&laquo; 前へ</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{site.url}}/{{ site.paginate_path | remove: 'page:num' }}">{{ page }}</a>
    {% else %}
      <a href="{{site.url}}/{{ site.paginate_path | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">次へ &raquo;</a>
  {% else %}
    <span>次へ &raquo;</span>
  {% endif %}
</div>
{% endif %}

