---
layout: default
---
<style>
 h2 {border-bottom: 3px solid #eee;padding-top: 1em;}
 h3 {border-left: 20px solid black;padding-left: 0.5em;}
 img {max-height:500px;max-width:600px;vertical-align:top;}
 img {cursor:hand;cursor:pointer;}/*onclickイベント用*/
 p.text{font-size:small;}
 a:link,a:visited{color:black;}
 a:hover {text-decoration: none;}
 div.quote{background-color: #f3f3f3;border: 1px solid #ddd;clear: both;margin:1em 15px 10px 0;padding:10px 15px;}
 div.quote p{text-indent: 1em;}
 div.img-box{margin-top:1em;background-color: #f3f3f3;border:1px solid #ddd;border-radius:3px;max-width:600px;padding-left:1em;padding-right:1em;}
</style>

{{ content }}

